build
src/*.user
src/*/*.user
src/*/bin
src/*/obj
src/_ReSharper.*
src/*.suo
src/*.sln.cache

src/*/*/*.user
src/*/*/*/*.user
src/*/*/*/bin
src/*/*/*/obj
src/*/*/_ReSharper.*
src/*/*/*.suo
src/*/*/*.sln.cache


TestResult.xml